.posts-title {
	width: 100%;
	text-align: center;
	font-size: 2rem;
}

.postContainer {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 3rem;
}
