.navbar {
	width: 70%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 2rem;
	margin: 0 auto;
}

.links {
	width: 60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
}

.link {
	color: #acb0b6;
	text-decoration: none;
	font-size: 1.5rem;
}

.activePage {
	color: white;
	transition: linear 300ms;
}

.searchBar {
	height: 40px;
	width: 250px;
	background-color: #283241;
	border: none;
	border-radius: 2rem;
	padding: 0 10px;
	font-size: 1.2rem;
}
